{% extends 'base.html' %}
{% block title %}
Balance Page
{% endblock %}

{% block content %}
<br>
<div class="container" style="width: 200px; height: 200px;">
    <img src="\static\logo.png" class="rounded mx-auto d-block img-thumbnail" alt="Marketech Logo">
    <br>
</div>
<h1 class="h2 mb-3 font-weight-normal" style="text-align: center">Add Balance to your Account</h1>
<form method="POST" class="form-register" style="color: white">
    {{ form.hidden_tag() }}
    <div class="container" style="width: 600px">
        {{ form.username.label() }}
        {{ form.username(class="form-control", placeholder="User Name") }}
        <br>
        {{ form.password.label() }}
        {{ form.password(class="form-control", placeholder="Password") }}
        <br>
        {{ form.amount.label() }}
        {{ form.amount(class="form-control", placeholder="Add Amount") }}
        <br>
        <div class="d-grid gap-2">
            {{ form.submit(class="btn btn-primary") }}
        </div>
        <br>
</form>
</div>

{% endblock %}
