{% extends 'base.html' %}
{% block title %}
Add Item Page
{% endblock %}

{% block content %}
<br>
<h1 class="h2 mb-3 font-weight-normal" style="text-align: center">Item Information</h1>
<form method="POST" class="form-register" style="color: white">
    {{ form.hidden_tag() }}
    <div class="container" style="width: 600px">
        <br>
        {{ form.item_name.label() }}
        {{ form.item_name(class="form-control", placeholder="Item Name") }}
        <br>
        {{ form.barcode.label() }}
        {{ form.barcode(class="form-control", placeholder="Barcode") }}
        <br>
        {{ form.item_price.label() }}
        {{ form.item_price(class="form-control", placeholder="Price") }}
        <br>
        {{ form.description.label() }}
        {{ form.description(class="form-control", placeholder="Description") }}
        <br>
        {{ form.password.label() }}
        {{ form.password(class="form-control", placeholder="Password") }}
        <br>

        <div class="d-grid gap-2">
            {{ form.submit(class="btn btn-primary") }}
        </div>
        <br>

</form>
</div>

{% endblock %}
