{% extends 'base.html' %}

{% block title %}
Market page
{% endblock %}


{% block content %}


<div class="row" style="margin-top: 20px; margin-left: 20px;">
    <div class="col-8">
        <h1 style="text-align: center;"> MARKET TABLE</h1>
        <hr>
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NAME</th>
                    <th scope="col">BARCODE</th>
                    <th scope="col">PRICE</th>
                    <th scope="col">OPTIONS</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                {% include 'includes/items_modals.html' %}
                <tr>

                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.barcode }}</td>
                    <td>{{ item.price }}</td>
                    <td>
                        <button type="button" class="btn btn-info" data-bs-toggle="modal"
                            data-bs-target="#Modal-MoreInfo-{{ item.id }}">INFO</button>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#Modal-MorePurchase-{{ item.id }}">PURCHASE</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <h1 style="text-align: center;"> OWNED ITEMS </h1>
        <hr>
        {% if owned_items.first()==None %}
        <br>
        <h4 style="text-align: center;">No Items are Present to Sell</h4>
        {% else %}
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NAME</th>
                    <th scope="col">PRICE</th>
                    <th scope="col">OPTIONS</th>
                </tr>
            </thead>
            <tbody>
                {% for owned_item in owned_items %}
                {% include 'includes/owned_modals.html' %}
                <tr>

                    <td>{{ owned_item.id }}</td>
                    <td>{{ owned_item.name }}</td>
                    <td>{{ owned_item.price }}</td>
                    <td>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#Modal-MoreSell-{{ owned_item.id }}">SELL</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>

{% endblock %}