<style>
    .modal-content {
        background-color: #212121;
    }
</style>




<!-- Modal SELL-->
<div class="modal fade" id="Modal-MoreSell-{{ owned_item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{ owned_item.name }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Would you like to sell the {{ owned_item.name }} for Rs. {{ owned_item.price }} ?
            </div>
            <div class="modal-footer">
                <form method="POST">
                    {{ sell_form.hidden_tag() }}
                    <input id="sell_item" name="sell_item" type="hidden" value="{{ owned_item.name }}">
                    {{ sell_form.submit(class="btn btn-success") }}
                </form>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>